*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}
:root {
  font-size: 62.5%;
  --blue-color: #0071e3;
  --gray-color: #f5f5f7;
  --gray-text-color: #86868b;
  --white-color: #fff;
  --black-color: #000;
}
body {
  background-color: #fff;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFPRODISPLAYREGULAR.OTF")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./assets//fonts/SF-Pro-Text-Regular.otf")
    format("opentype");
}
